/* Add css so the calculator app looks nicer :) */

/* animated text: https://www.youtube.com/watch?v=2Oe1hzwVKbA -- but background*/
/* could do for calc background instead if preferred */
body {
    font-family: serif, sans-serif;
    background: linear-gradient(
    90deg,
    rgb(203, 241, 183), 
    rgb(64, 87, 51));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500% 500%;
    animation: gradient-animation 6s ease infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* calc div background (all data, like the body but for data only) */
#calc{
    width: 320px;
    padding: 27px;
    padding-bottom: 37px;
    text-align: center;
    border: 1px black;
    border-radius: 10%;
    background-color: #353535;
}
/* title */
h1{
    font-size: 30px;
    color: white;
    margin-bottom: 24px;
}
/* reusults balck box */
#results{
    font-size: 37px;
    text-align: right;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* user inputs (num1 and num2) */
input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.actionBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
/* each btn style */
button {
    font-size: 27px;
    background-color: rgb(194, 130, 13);
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 10px;
    border: none;
}
/* hover effect for btn */
button:hover {
   opacity: 0.9;
}
/* clear btn only caling id to make it two btns length */
#clear {
    grid-column: span 2;
}
 